<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
</head>
<body>
<h2>Leave Application</h2>
<h4>Total Leave Days Left {{days_left}}</h4>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{form.media}}
{{ form.as_p }}
<button type="submit">Submit Leave Application</button>
</form>


<script>
  $(function () {
    $("#id_start_date").datepicker({
      format:'yyyy-mm-dd',
    });
  });
   $(function () {
    $("#id_end_date").datepicker({
      format:'yyyy-mm-dd',
    });
  });
</script>

</body>
</html>